 body {
    background:#009688;
} 

 md-card{
  width: 200px;
  height: 300px;
  margin:10px;
} 

md-card-title{
    color:#009688;
    font-size: 20px;
}


md-card-content {
    font-weight:300;
    color:grey;
}

.container{
    padding:100px;
    background:#009688;
    height:900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


