<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true" class="cf-palette">
        <nav>
            <ul>
                <li [ngClass]="{'active': componentData.componentName === 'WeatherComponent'}">
                    <a (click)="setComponent('Weather')">Weather</a>
                </li>
                <li [ngClass]="{'active': componentData.componentName === 'NewsComponent'}">
                    <a (click)="setComponent('News')">News</a>
                </li>
                <li [ngClass]="{'active': componentData.componentName === 'BPMListComponent'}">
                    <a (click)="setComponent('BPM-List')">BPM Task List</a>
                </li>
            </ul>
        </nav>
    </md-sidenav>
    <cd-demo-loader [componentData]="componentData"></cd-demo-loader>
</md-sidenav-container>