<!--<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true" class="cf-palette">
        <nav>
            <ul>
                <li [ngClass]="{'active': componentData.componentName === 'WeatherComponent'}">
                    <a (click)="setComponent('Weather')">Weather</a>
                </li>
                <li [ngClass]="{'active': componentData.componentName === 'NewsComponent'}">
                    <a (click)="setComponent('News')">News</a>
                </li>
                <li [ngClass]="{'active': componentData.componentName === 'BPMListComponent'}">
                    <a (click)="setComponent('BPM-List')">BPM Task List</a>
                </li>
            </ul>
        </nav>
    </md-sidenav>
    <cd-demo-loader [componentData]="componentData"></cd-demo-loader>
</md-sidenav-container>-->
<div class="container">
    <md-card>
        <md-card-header>
            <md-card-title>IBM Components</md-card-title>
        </md-card-header>
        <md-card-content>
            <p>Integration with IBM Services made simple for you </p>
            <p>Using cedrus-fusion components for modern UI  </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>View</button>
        </md-card-actions>
    </md-card>

    <md-card>
        <md-card-header>
            <md-card-title>Utilities</md-card-title>
        </md-card-header>
        <md-card-content>
            <p>Integration with IBM Services made simple for you </p>
            <p>Using cedrus-fusion components for modern UI  </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>View</button>
        </md-card-actions>
    </md-card>
</div>
