<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true" class="cf-palette">
        <nav>
            <ul>
                <li>
                    <a>Weather</a>
                </li>
                <li>
                    <a>News</a>
                </li>
                <li>
                    <a>BPM Task List</a>
                </li>
            </ul>
        </nav>
    </md-sidenav>
    <cd-demo-loader [componentData]="componentData"></cd-demo-loader>
</md-sidenav-container>