/deep/ {
	.demo-gages {
		display: flex;
		justify-content: space-around;
	}
	.my-gauge-container-class {
		padding: 20px;
		background: #456;
		border: 10px solid #345;
		.cf-gauge-bar {
			stroke: #345;
			stroke-width: 80;
			stroke-dasharray: 10 14;
		}
		.cf-gauge-track {
			stroke: #2fe3ff;
			stroke-width: 100;
			stroke-dasharray: 10 14;
		}
		.my-gauge-value-class,
		.my-gauge-prefix-class,
		.my-gauge-suffix-class,
		.my-gauge-label-class {
			color: #2fe3ff;
		}
		.mat-input-underline .mat-input-ripple {
			background-color: #2fe3ff;
		}
	}
}
