.whole-container {
  padding-bottom: 250px;
}

/deep/ .mat-dialog-content {
  padding: 0px 0px 0px 24px !important;
}

/deep/ .mat-tab-body-content {
  padding: 0px 24px;
}

/deep/ cf-wizard {
  .mat-card {
  box-shadow: none !important;
  }
}

/deep/ .cf-dialog-footer {
  height: 0px !important;
}