<p>Demo features:</p>
<ul>
	<li>Dynamically allow/block menu options: cut/copy/paste according to the user role</li>
	<li>Dynamically change blocking mode: hide or disable menu options for user <b>Reader</b></li>
</ul>

<cf-fab [properties]="myFab" (onItemClick)="log($event)"></cf-fab>

<div class="flex-row">
	<div>
		<p>Select user role</p>
		<cf-group (onSelect)="roleChange($event)" [display]="true">
		  <cf-radio style="display:block;" *ngFor="let item of roles" [checked]="item.checked" [value]="item.value" [item]="item.item"></cf-radio>
		</cf-group>
	</div>	
	<div>
		<p>Select blocking mode</p>
		<cf-group (onSelect)="blockOptions($event)" [display]="true">
		  <cf-radio style="display:block;" *ngFor="let item of modes" [checked]="item.checked" [value]="item.value" [item]="item.item"></cf-radio>
		</cf-group>
	</div>	
	<div>
		<p>Actions menu events:</p>
		<ol>
			<li *ngFor="let option of options">You clicked <b>{{option}}</b> button</li>
		</ol>
	</div>
</div>