<h4>Demo features:</h4>

<ul>
	<li>Source data is taken from server <a href="http://raum.zz.mu/api_states.php" target="_blank" class="links">temp-site</a></li>
	<li><b>prefetch</b> is true, so on component init external service call will be sent to take results and cached</li>
	<li><b>cache</b> is true, so on every typing after <b>delay</b>(is set to 500 milliseconds) external service call will be sent (if typed query text was not cached to caching map) to take result and cache it</li>
	<li>Filtering property (<b>displayField</b>) is: <b>name</b></li>
	<li>Autocomplete property <b>useChips</b> is set to <b>true</b>(so autocomplete automatically goes into multiselection state) and selected items will be displayed as chips</li>
	<li>Created two templates: for dropdown list items and for selected items (chips)</li>
</ul>

<cf-autocomplete [properties]="myAutocompleteWithRemoteData" (onSearch)="logValue($event, 'second')" (onSelect)="logSelected($event, 'second')">

	<ng-template #dropdownItemTemplate let-info="item">
		<div class="my-custom-search-item">
			<img src="{{info.flag}}" alt="">
			<b>{{info.name}}</b>
		</div>
	</ng-template>

	<ng-template #selectedItemTemplate let-item="item">
		<span><b>{{item.name}}</b> with capitol: {{item.capitol}}</span>
	</ng-template>

</cf-autocomplete>

<div class="events">
	<ul>
		<li *ngFor="let e of demoValues">{{e}}</li>
	</ul>
	<ul>
		<li *ngFor="let e of demoSelections"><pre>{{e | json}}</pre></li>
	</ul>
</div>
