:host {
  padding-bottom: 50px;
  display: block;
  pre {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.my-custom-chips-item {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 15px;
  }
}

.my-custom-search-item {
  display: flex;
  align-items: center;
  .item-avatar {
    display: flex;
    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 15px;
    }
  }
  small { color: gray;}
}