<h4>Demo features</h4>

<ul>
	<li>File uploader has url, but not real so if you have your own you may go to Plunker and try it</li>
	<li>File uploader is set to read files and when you'll add file - it content will be shown in bottom section of demo</li>
	<li>It is possible to pick files only with types: <b>.json</b> or <b>.png</b></li>
</ul>

<cf-file-uploader #myUploader [properties]="myUploaderOptions" (onAddFile)="logAdded($event)" (onComplete)="logUploaded($event)"></cf-file-uploader>

<div class="custom-buttons">
    <cf-button md-raised-button [label]="'Select files'" (click)="loadFiles()"></cf-button>
    <cf-button md-raised-button [label]="'Send files'" (click)="sendFiles()"></cf-button>
    <cf-button md-raised-button [label]="'Clear list'" (click)="clearList()"></cf-button>
</div>

<h4>Added files:</h4>
<p *ngFor="let file of filesAdded, let i = index">
	<b>{{i}}. {{file.file.name}}</b>
	<small>{{file.fileContent}}</small>
</p>

<h4>Uploaded files:</h4>
<p *ngFor="let file of filesUploaded, let i = index">{{i}}. {{file}}</p>