<h3>Default Template</h3>
<cf-checkbox></cf-checkbox>

<h3>{{title}}:</h3>

<!-- By Default Max = 1, Min= 1 -->

<cf-group minSelected="2" maxSelected="3">
    <cf-checkbox style="display:block;" *ngFor="let item of fruits; let i = index" [styling]="checkboxStyling1[i%3]" [properties]="checkbox1[i]" [(checked)]="item.checked" [value]="item.value" [item]="item.item">
    </cf-checkbox>
</cf-group>

<ul>
    <li *ngFor="let item of fruits">{{item.checked}}</li>
</ul>

<h3>{{title2}}:</h3>

<cf-group minSelected="1" maxSelected="2">
    <cf-checkbox *ngFor="let item of myAccounts; let i = index" [properties]="item" [styling]="checkboxStyling1[i%3]">
        <template let-currency="cfItem">
			<b>
				<span class="fa {{currency.code}}"></span>
				<span>{{currency.name}}</span>
			</b>
		</template>
    </cf-checkbox>
</cf-group>

<h3>{{title3}}:</h3>

<cf-checkbox *ngFor="let item of avatars; let i = index" [properties]="item" [display]="isVisible" [styling]="checkboxStyling1[i%3]" [notification]="myNotifications">
    <template let-picture="cfItem">
		<img style="width: 80px; height: 80px" [src]="picture">
	</template>
</cf-checkbox>
<cf-button md-raised-button [properties]="sender" (click)="sendMessage()"></cf-button>