/deep/ .myImage {
    width: 70%;
    height: 300px;
    border: 2px solid black;
}

/deep/ .imageLabel {
    width: 70%;
    color: #E53935;
    justify-content: center;
    margin-bottom:10px;
}

cf-image {
    margin-top: 10px;
}