/deep/ .fancyImage {
    width: 400px;
    box-shadow: 5px 5px 2px #888888;
    // max-height: 266.66px;
}
/deep/ .fancyLabel {
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    justify-content: center;
}

/deep/ .casualImage {
    width: 100%;
    box-shadow: 5px 5px 2px #888888;
    max-height: 500px;
}

/deep/ .casualLabel {
    width: 200px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    justify-content: center;
    padding: none;
}

/deep/ .mat-select-value {
    max-width: none !important;
    width: 200px;
}

/deep/ .mat-select-trigger {
    width: 200px;
}

cf-select {
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
}

.container {
    margin-bottom: 10px;
}