::ng-deep .usd {
    color:rgb(75, 124, 107);
    margin:5px;
    &.mat-radio-button.mat-primary {
    	.mat-radio-outer-circle { border-color: rgb(75, 124, 107); }
  		.mat-radio-inner-circle { background-color: rgb(75, 124, 107); }
			.mat-radio-ripple .mat-ripple-element { background-color: rgba(75, 124, 107, 0.25); }
    }
}

::ng-deep .euro {
    color:rgb(162, 90, 154);
    margin:5px;
    &.mat-radio-button.mat-primary {
    	.mat-radio-outer-circle { border-color: rgb(162, 90, 154); }
  		.mat-radio-inner-circle { background-color: rgb(162, 90, 154); }
			.mat-radio-ripple .mat-ripple-element { background-color: rgba(162, 90, 154, 0.25); }
    }
}


::ng-deep .gbp {
    color:rgb(95, 89, 155);
    margin:5px;
    &.mat-radio-button.mat-primary {
    	.mat-radio-outer-circle { border-color: rgb(95, 89, 155); }
  		.mat-radio-inner-circle { background-color: rgb(95, 89, 155); }
			.mat-radio-ripple .mat-ripple-element { background-color: rgba(95, 89, 155, 0.25); }
    }
}

::ng-deep .shift {
    padding:5px;
}
