<div style="background:white;">
    <md-toolbar class="secondaryToolbar">{{ currentName }} Component</md-toolbar>
    <md-tab-group class="main-tab">
        <md-tab label="OVERVIEW">
            <div class="overview-description">
                <div [innerHtml]="currentDescription"></div>
            </div>
            <md-card class="overview-card">
                <div>
                    <md-toolbar>
                        {{basicDemo? basicDemo.title:''}}
                        <span class="cf-header-spacer"></span>
                        <md-icon class="pointer" md-tooltip="View Source" (click)="showHide[0]=!showHide[0]">code
                        </md-icon>
                        <md-icon style="margin-left:8px;" class="pointer" md-tooltip="Edit with Plunker" (click)="clickPlunkerButton(0)">launch
                        </md-icon>
                    </md-toolbar>
                    <div *ngIf="showHide[0]">
                        <md-tab-group class="files">
                            <md-tab label="HTML">
                                <pre></pre>
                                <cd-doc-viewer docType="html" [docContent]="basicSource.html"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                            <md-tab label="TS">
                                <pre></pre>
                                <cd-doc-viewer docType="typescript" [docContent]="basicSource.ts"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                            <md-tab label="SCSS">
                                <pre></pre>
                                <cd-doc-viewer docType="sass" [docContent]="basicSource.sass"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                        </md-tab-group>
                    </div>
                </div>
                <div class="demoExample">
                    <div #dynamicComponentContainer></div>
                </div>
            </md-card>
            <div *ngIf="data.docs">
                <div *ngFor="let docs of data.docs" class="overViewDocs">
                    <h3>{{docs.title}}</h3>
                    <div [innerHtml]="docs.description"></div>
                </div>
            </div>
            <div class="templateDocs">
                <div class="overViewDocs">
                    <h3>Templating System</h3>
                    <div [innerHtml]="templateDescription"></div>
                </div>
                <md-card class="overview-card">
                    <div *ngIf="templateIndex>-1">
                        <md-toolbar>
                            {{templateDemo.title}}
                            <span class="cf-header-spacer"></span>
                            <md-icon class="pointer" md-tooltip="View Source" (click)="showHide[templateIndex]=!showHide[templateIndex]">code
                            </md-icon>
                            <md-icon style="margin-left:8px;" class="pointer" md-tooltip="Edit with Plunker" (click)="clickPlunkerButton(templateIndex)">launch
                            </md-icon>
                        </md-toolbar>
                        <div *ngIf="showHide[templateIndex]">
                            <md-tab-group class="files">
                                <md-tab label="HTML">
                                    <pre></pre>
                                    <cd-doc-viewer docType="html" [docContent]="templateSource.html"></cd-doc-viewer>
                                    <pre></pre>
                                </md-tab>
                                <md-tab label="TS">
                                    <pre></pre>
                                    <cd-doc-viewer docType="typescript" [docContent]="templateSource.ts"></cd-doc-viewer>
                                    <pre></pre>
                                </md-tab>
                                <md-tab label="SCSS">
                                    <pre></pre>
                                    <cd-doc-viewer docType="sass" [docContent]="templateSource.sass"></cd-doc-viewer>
                                    <pre></pre>
                                </md-tab>
                            </md-tab-group>
                        </div>
                    </div>
                    <div class="demoExample">
                        <div #dynamicComponentContainerT></div>
                    </div>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="API REFERENCE">
            <cd-documentation-loader [docs]="currentSource.documentation"></cd-documentation-loader>
        </md-tab>
        <md-tab label="EXAMPLES">
            <md-card *ngFor="let source of currentSource.examples;let i = index" class="overview-card">
                <div>
                    <md-toolbar>
                        {{data.demos? data.demos[i]? data.demos[i].title: '': ''}}
                        <span class="cf-header-spacer"></span>
                        <md-icon class="pointer" md-tooltip="View Source" (click)="showHide[i]=!showHide[i]">code
                        </md-icon>
                        <md-icon style="margin-left:8px;" class="pointer" md-tooltip="Edit with Plunker" (click)="clickPlunkerButton(i)">launch
                        </md-icon>
                    </md-toolbar>
                    <div *ngIf="showHide[i]">
                        <md-tab-group class="files">
                            <md-tab label="HTML">
                                <pre></pre>
                                <cd-doc-viewer docType="html" [docContent]="source.html"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                            <md-tab label="TS">
                                <pre></pre>
                                <cd-doc-viewer docType="typescript" [docContent]="source.ts"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                            <md-tab label="SCSS">
                                <pre></pre>
                                <cd-doc-viewer docType="sass" [docContent]="source.sass"></cd-doc-viewer>
                                <pre></pre>
                            </md-tab>
                        </md-tab-group>
                    </div>
                </div>
                <div class="demoExample">
                    <div #dynamicComponentContainer></div>
                </div>
            </md-card>
        </md-tab>

    </md-tab-group>

    <footer>
        <div class="docs-footer-list">
            <div style="display:block;">
                <img style="width:90px; height:30px;" src="https://cedrus.digital/wp-content/uploads/2017/03/Cedrus_logo.png">
            </div>
            <div style="display:block;">
                <ul style="list-style: none; margin: 0 40px; padding: 0;">
                    <li>
                        <a style="font-size: 16px; padding: 0; text-decoration: none; color: #fff;" href="https://cedrus.digital/" target="_blank">Cedrus </a>
                    </li>
                </ul>
            </div>
            <div class="docs-footer-copyright">
                <p>Powered by Cedrus Digital ©2006-2017</p>
            </div>
        </div>
    </footer>
</div>