.main-tab {
    margin: 50px;
    background: white;
    min-height: 700px;
}

/deep/ .mat-tab-label {
    font-weight: 400 !important;
}

/deep/.mat-ink-bar {
    background-color: #009688 !important;
}

.cf-header-spacer {
    flex: 1 1 auto;
}

.overview-card {
    width: 85%;
    margin: 2.5rem auto;
    padding: 0 0 16px 0;
}

.overview-description {
    display: flex;
    flex-direction: row;
    margin-top: 1.7rem;
}

pre {
    padding-left: 2.5rem;
}

.secondaryToolbar {
    background: #009688;
    color: white;
    font-weight: 300;
}

footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
    background: #009688;
    color: white;
}

.docs-footer-list {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    padding: 8px;
    font-size: 12px;
}

.docs-footer-copyright {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.pointer:hover {
    cursor: pointer;
}

.demoExample {
    margin: 16px;
}

md-tab-group.files {
    border-bottom: 1px solid #bdbdbd;
}

.overViewDocs {
    margin-top: 50px;
}