header {
  height: 200px;
  margin-bottom: 40px;
  background:#009688;
}

.header-section {
  padding: 40px;
}

h1{
  font-size: 40px;
  font-weight: 100;
  line-height: 56px;
  margin: 15px 0 15px 0;
  color:white;
}


.header-start{
  margin:40px 0;
  text-align: center;
  color:#009688;
}

a {
  font-family:'Avenir';
  text-decoration: none;
  color: #009688;
  font-size: 16px;
}

.content{
  margin:50px;
}

p{
  font-size: 16px;
}