<h4>Demo features:</h4>
<ul>
	<li>Input with type <b>number</b></li>
	<li>Input has menu with two options: reset (will empty input value) and approve (will show password in dialog)</li>
	<li>Those two options are available when password symbols quantity is higher 10</li>
</ul>

<md-grid-list cols="2" rowHeight="220px">
  <md-grid-tile>
		<cf-input [properties]="inputProperties" [(value)]="inputValue" (valueChange)="checkPassword($event)" (onMenuItemClick)="actionOnPassword($event)"></cf-input>
  </md-grid-tile>
  <md-grid-tile>
		<p *ngIf="inputProperties.menu.display && passwordApproved">Your successfully confirmed your password</p>
		<p *ngIf="inputProperties.menu.display && !passwordApproved">Your password needs confirmation</p>
  </md-grid-tile>   
</md-grid-list> 

<ng-template #myDialog>
  <div class="my-dialog-wrapper">
    <h1>{{inputProperties.value}}</h1>
  </div>
</ng-template>