/deep/ {
	.sebm-google-map-container, #my-map-by-service {
  	height: 300px;
  }
  .my-google-map {
  	border: 20px solid darkseagreen;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  }
}
.my-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px 0;
}
.events-block {
	max-height: 250px;
	overflow: auto;
}