:host {
	display: flex;
	flex-direction: row;

}
:host > div {
	display: flex;
	flex-direction: column;	
	width: 50%;
	align-items: center;
	justify-content: center;
}
:host > div > cf-button-menu {
	margin: 10px;
}