.sample-item {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  cf-avatar {
  	display: flex;
  	width: 100px;
  	justify-content: center;
	}
}
:host /deep/ {
	.my-avatar-container {
		border: 5px solid #009688;
	}
	.my-avatar-text {
		color: lime;
	}
}