.flex-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  dt, dd { display: flex; padding: 10px; align-items: center; }
}
:host /deep/ {
	.my-avatar-container {
		border: 5px solid #009688;
	}
	.my-avatar-text {
		color: lime;
	}
}