:host /deep/ {
	.toolbar-instance {
		margin: 24px 0;
		display: block;
	}
	.toolbar-content.my-toolbar-actions {
		flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .cf-toolbar-template {
    	overflow: visible;
    }
	}
	[hidden] { display: none !important; }
}