[hidden] {
    display: none !important;
}
.demo-content {
	padding: 0 16px;
	background: green;
	border-right: 4px solid #4caf50;
	border-bottom: 4px solid #4caf50;
	border-left: 4px solid #4caf50;
	box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.3);
	overflow: hidden;
}
.my-image {
	
}