/deep/ .my-tree-view {
	background: rgba(0, 0, 0, 0.07);
	padding: 8px;
}
/deep/ .my-tree-item {
	background: mediumpurple;
}
.columns {
	display: flex;
	flex-direction: row;
	margin: 8px 0;
	.column {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}
cf-button {
	margin: 8px auto;
}