.cf-header {
    background: #009688;
    color: #fff;
}

.cf-header img {
    width: 113px;
    height: 34px;
}

.cf-header span {
    padding-top: 14px;
    padding-left: 20px;
}

.cf-header .cf-header-spacer {
    flex: 1 1 auto;
}

nav a {
  font-family:'Avenir';
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #009688;
  border-radius: 4px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}
nav a:visited, a:link {
  color: white;
}
nav a:hover {
  color: #009688;
  background-color: #CFD8DC;
}
nav a.active {
    font-weight: 800;
}

md-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    z-index: 1;
    position: relative;
}

.app-content {
    flex: 1;
    min-height: calc(100vh - 128px);
}

footer {
    padding: 12px;
    font-size: 12px;
    background: #009688;
    color: white;
}

.docs-footer-list {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    padding: 8px;
    font-size: 12px;
}

.docs-footer-copyright {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
::ng-deep .cf-button-icon .cf-icon { color: inherit; }
::ng-deep cf-button-menu button:not(.cf-button-menu-trigger) { border-radius: 4px 0 0 4px; }
::ng-deep button.cf-button-menu-trigger { line-height: initial; }
::ng-deep .cf-button-menu-trigger .cf-icon { color: inherit; }
