/deep/ .like {
    color: #1DE9B6;
}

/deep/ .dislike {
    color: #EF5350;
}

.my-class {
    background-color: yellow;
  }

  .row {
      display: flex;
  }

  .comment {
      margin-left:10px;
  }

 /deep/ .myInput {
      width: 350px;
  }