<cf-datatable [properties]="myDatatable">
	
	<ng-template #detailsTemplate let-row="cfRow.info">
		<div *ngIf="row.gender === 'male'" class="my-custom-details-styles">
			<cf-image [url]="row.avatar" label=""></cf-image>
			<div>				
				<h4>Company: {{row.company}}</h4>
				<b><i>Age: {{row.age}}</i></b>
				<p>{{row.description}}</p>
			</div>
		</div>
		<div *ngIf="row.gender === 'female'" class="my-custom-details-styles template-change">
			<cf-image [url]="row.avatar" label=""></cf-image>
			<b><i>Age: {{row.age}}</i></b>
			<h5>Company: {{row.company}}</h5>
		</div>
	</ng-template>

	<cf-datatable-column name="Name">
		<ng-template #cellTemplate let-row="cfRow">
			{{row.name}}
		</ng-template>
	</cf-datatable-column>

	<cf-datatable-column name="City">
		<ng-template #cellTemplate let-row="cfRow" let-i="cfIndex">
			<b>{{row.city}}: <i>{{i}}</i></b>			
		</ng-template>
	</cf-datatable-column>
	
	<cf-datatable-column name="Avatar">
		<ng-template #cellTemplate let-row="cfRow">
			<cf-image [url]="row.info.avatar" label=""></cf-image>
		</ng-template>
	</cf-datatable-column>

</cf-datatable>

<h4>Selected in Datatable:</h4>
<ul>
    <li *ngFor="let it of mySelected">{{it.name}}</li>
</ul>