.my-custom-details-styles {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.my-custom-details-styles img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 20px 0 10px;
}

.my-custom-details-styles div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.my-custom-details-styles div h4, p, b {
  margin: 4px 0;
  font-size: 14px;
  white-space: normal;
}