::ng-deep .myButton { color: white !important; background-color: blueviolet !important; }
::ng-deep .myButtonIcon { color: white !important; }

cf-button { margin-left: 20px; }

::ng-deep .myButton2 { color: crimson !important; background-color: white !important; }
::ng-deep .myButtonIcon2 { color: crimson !important; }