.row {
    display: flex;
}

.label {
    margin-left:15px;
}

.date {
    color:#009688;
}

.products {
    width:200px;
    border:1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
}

.product-header {
    align-items: center;
}
