<p>When clicking on a line, a form will show details on the person being selected in a sidenav way</p>

<md-sidenav-container class="example-container">
    <!-- <cf-icon name = "fa-plus-circle" style="margin-left: 90%;" (click)="showAdd()"></cf-icon> -->
    <md-sidenav #sidenav class="example-sidenav" align="end">
        <h3> Editing Contact </h3>
         <cf-form [payload]="payload" (onSubmit)="updateContact($event)">
              <div *ngFor="let question of questions"> 
                <cf-form-question [question]="question"></cf-form-question>
              </div> 
        </cf-form> 
    </md-sidenav>
    <cf-list title="Contacts">
        <cf-item details="true" *ngFor="let contact of contacts; let i = index">
            <div (click)="editContact(i, contact)">
                <p>{{contact.name}}</p>
            </div>    
            <div details>
                <p><cf-icon name="fa-envelope-o" size="12px"></cf-icon> {{contact.email}}</p>
                <p><cf-icon name="fa-map-marker" size="12px"></cf-icon> {{contact.address}}</p>
                <p><cf-icon name="fa-phone" size="12px"></cf-icon> {{contact.phoneNumber}}</p>
            </div>
        </cf-item>
    </cf-list> 
</md-sidenav-container>
<template #addView>
  <div class="modal-wrapper">
    <cf-input [properties]="nameInput"></cf-input>
    <cf-input [properties]="emailInput"></cf-input>
    <cf-input [properties]="addressInput"></cf-input>
    <cf-input [properties]="phoneNumberInput"></cf-input>
  </div>
</template>