.example-container {
  width: 700px;
  height: 800px;
}

md-sidenav {
  padding: 20px;
  width:400px;
}

.modal-wrapper {
padding: 20px;
}

/deep/ md-input-container {
  width:300px;
}

h3 {
  font-weight: 500;
  color:#009688
}