<cf-list [properties]="myList" selectable=true (onSelect)="updateValues($event)">
    <cf-item *ngFor="let item of items" details="true" [styling]="itemsStyling">
        <img md-list-avatar src="{{item.avatar}}">
        <div class="mat-list-text">
            <h4 md-line>{{item.name}}</h4>
            <p md-line> {{item.city}}</p>
        </div>
        <div details>
            <img src="{{item.avatar}}" style="width: 150px; float: left;">
            <i>Image Details</i>
        </div>
    </cf-item>
</cf-list>

<ul>
    <label> Indices of Selected Items:</label>
    <li *ngFor="let s of selected">{{s}}</li>
</ul>

<cf-list title="Manual List" selectable=true withCheckbox=false>
    <cf-item [styling]="itemsStyling">
        <label>ITEM 1</label>
    </cf-item>
    <cf-item [styling]="itemsStyling">
        <label>ITEM 2</label>
    </cf-item>
</cf-list>