:host /deep/ {
	md-sidenav {
	  width:400px;
	  .info-sidenav {
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: space-between;
	  	height: calc(100% - 38px);
	  	min-height: 530px;
	    padding: 0.5px 20px 20px;
	  	margin: 8px;
	  	background: #eeeeee;
	  	box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.2);
	  	cf-image {
	  		margin: 0 auto;
	  		.user-photo { 
					width: 200px; 
					height: 200px; 
				}
	  	}
	  }
	  .profile-item {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			span { display: inline-block; min-width: 70px; color: gray; font-size: 14px; }
		}
	}
	md-input-container {
	  width:300px;
	}
	.mat-nav-list {
		padding-top: 0px;
	}

	h3 {
	  font-weight: 500;
	  color:#009688
	}
	.user-info { 
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 8px;		
	}
	.user-photo { 
		width: 50px; 
		height: 50px; 
		border-radius: 50%; 
	}
	.my-mini-button {
		margin: 2px;
		&.mat-button {
			min-width: 30px;
			width: 30px;
			height: 30px;
			line-height: 0;
			md-icon { font-size: 20px !important; }
		}
		.mat-button-wrapper {
			&>label, &>div { display: none !important; }
		}
	}
}
.modal-wrapper {
	padding: 20px;
	&.in-dialog {
		display: flex;
	}
	.new-user-info {
		width: 40%;
		text-align: center;
	}
	.avatars-list {
		width: 60%;
		text-align: center;
		.new-avatar {
			display: flex;
			cf-image {
				margin: 0	auto;
				/deep/ .user-photo { 
					width: 150px; 
					height: 150px; 
				}
			}
		}
		img {
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}
.flexend {
	display: flex;
	justify-content: flex-end;
	padding: 4px 0;
}