:host /deep/ {
	.cf-tabs-card-button {
    &.index-before {
      .cf-button-content { order: -1; 
        .cf-card-index-icon, .cf-card-index-prefix { margin-left: 0; margin-right: 4px; }
      }
      .mat-button-wrapper {
      	display: flex;
      	justify-content: center;
      }
    }
  }
	.card-cells {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 16px;
		.card-cell {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 50%;
			height: 75px;
			&>span { display: block; width: 80px; margin-bottom: 8px; }
			&>cf-switch { margin-bottom: 4px; }
		}
	}
	.profile-item {
		display: flex;
		flex-direction: row;
		margin-top: 4px;
		span { display: inline-block; width: 120px; color: gray; font-size: 14px; }
	}
	.mat-tab-body-content {
	  margin: 10px;
	}
} 