:host ::ng-deep {
	md-grid-tile figure > span { margin-right: 20px; }
	.my-tabs-container { background: rgba(23, 159, 146, 0.1); }
	.my-tab-container {
    padding: 16px;
		background: rgba(23, 159, 146, 0.1);
	  box-shadow: inset 0 0 5px rgba(23,159,146,0.5);
    min-height: 100%;
  	box-sizing: border-box;
		&.fixed-height {
			height: 250px;
			overflow: auto;
		}	
	}
} 