.content {
    display: flex;
    align-items: center;
}
table {
    font-family: 'Avenir';
}

td {
    margin:auto;
}

/deep/ .cf-button-icon .cf-icon.delete {
    color:red;
}

/deep/ .cf-button-icon .cf-icon.edit {
   color:springgreen;
}

.messageBox {
    border: 1px solid grey;
    height:50px;
    width:100px;
    margin-left: 50px;
    text-align: center;
    padding:60px;
    font-family: 'Avenir';
}
.deleteMessage {
    margin:auto;
    color:red;
}

.editMessage {
    margin:auto;
    color:seagreen;
}