/deep/ .button1 {
    border-radius: 10%;
    color: white;
    background-color: grey;
}

/deep/ .icon2 {
    color: blue;
}

/deep/ .button2 {
    border-radius: 50%;
    background-color: #197fa5;
}

cf-button {
    margin-left: 20px;
}

label {
    margin: 10px;
}

div {
    margin: 10px;
}