cf-button {
    margin-left: 20px;
}

div {
    margin: 10px;
}

cf-checkbox {
    margin: 20px;
}

.rotate-wait-icon /deep/ md-icon {
    display: inline-block;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}