<p>A select field that changes the contents of the address fields that follow.</p>
<div class="fields" layout="row">
    <div class="left" flex>
        <cf-select class="field" [properties]="myCountry" (cfOnChange)="updateCountry()"></cf-select>
        <cf-input [properties]="addressOne" class="field"></cf-input>
        <cf-input [properties]="addressTwo" class="field"></cf-input>
    </div>
    <div class="left" flex>
        <cf-input [properties]="city" class="field"></cf-input>
        <div *ngIf="selectedCountry==='us'">
            <cf-input [properties]="state" class="field"></cf-input>
            <cf-input [properties]="zip" class="field"></cf-input>
        </div>
        <div *ngIf="selectedCountry==='uk'">
            <cf-input [properties]="county" class="field"></cf-input>
            <cf-input [properties]="pc" class="field"></cf-input>
        </div>
        <div *ngIf="selectedCountry==='ca'">
            <cf-input [properties]="province" class="field"></cf-input>
            <cf-input [properties]="pc" class="field"></cf-input>
        </div>
    </div>
</div>