:host /deep/ {
	.cf-wizard-header {
		background: #e3efed;
		.mat-tab-header {
			border-bottom: none;
		}
	}
	.step-cells {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 16px;
		.step-cell {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 50%;
			height: 75px;
			&>span { display: block; width: 90px; margin-bottom: 8px; }
			&>cf-switch { margin-bottom: 4px; }
		}
	}
	.profile-item {
		display: flex;
		flex-direction: row;
		margin-top: 4px;
		span { display: inline-block; width: 60px; color: gray; font-size: 14px; }
	}
	.end-content { display: flex; justify-content: flex-end; }
	.result-page { display: flex; justify-content: space-around; }
	.kid-item i, .kid-item small { color: gray; font-size: 14px; }
	.rental-dialog-wrapper { padding: 0 24px; text-align: center; }
	[hidden] {display: none !important;}
} 