/deep/ .my-wizard-next-button.mat-button, /deep/ .my-wizard-step-header-button.mat-button {
  color: orange;
  background: purple;
}
/deep/ .my-custom-wizard .cf-wizard-step-button .cf-button-all-content {
	flex-direction: row-reverse;
}