<header>
  <div class="header-section" >
    <div class="header-headline">
      <h1 class="header">Cedrus Fusion Library</h1>
      <h2 class="header">Angular 2 Components</h2>
    </div>
    <div class="header-start">
      <a routerLink="/guide/getstarted" routerLinkActive="active">Get Started</a>
    </div>
  </div>
</header>
<div class="container">
  <h2>Intro</h2>
  <p class="content">Cedrus Fusion Library is made up of two seperate libraries <b>Cedrus Fusion</b> and <b>Cedrus Fusion Business</b></p>
  
  <h2>Basic Concepts</h2>
</div>