header {
  height: 300px;
  margin-bottom: 40px;
  background:#009688;
}

.header-section {
  text-align:center;
  padding-top: 60px;
}


h1.header{
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 0 15px 0;
  color:white;
}

h2.header{
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px 0;
  color:white;
}

.header-start{
  text-align: center;
  margin: 60px 0;
  color:#009688;
}

.container{
  margin:30px;
}

a {
  font-family:'Avenir';
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #009688;
}

.container h2 {
  color:#009688;
}

.container p{
  font-size: 16px;
  font-weight: 300;
  color:#424242;
}

.container h3 {
  color:#757575;
}

.container li {
  font-size: 14px;
  font-weight: 300;
  color:#424242;
}

.container ul {
  list-style-type: circle;
}


