<header>
  <div class="header-section" >
    <div class="header-headline">
      <h1 class="header">Cedrus Fusion Library</h1>
      <h2 class="header">Angular 2 Components</h2>
    </div>
    <div class="header-start">
      <a routerLink="/guide/getstarted" routerLinkActive="active">Get Started</a>
    </div>
  </div>
</header>
<div class="container">
  <h2>Intro</h2>
  <p>An Angular 2+ and NativeScript framework. This product provides a rich and open component library for web and mobile, a rich set of enterprise and server-side services for data access, security, and profiling.</p>
  <p>The framework also provides business components to promote the implementation of reusable and sophisticated functional modules, microservices and application wiring.</p>
  
  <h2>Code Fusion in a Nutshell</h2>
  <p>Angular Material Design can pose numerous challenges if not done the right way.</p>
  <p>Code Fusion is an open-source project that can dramatically accelerate Material designs by providing a comprehensive and extensible framework to define reusable <a href="components">technical</a> and <a href="business">business components</a>.</p>
  <h3>Open-Source</h3>
  <ul>
    <li>Fully extensible by custom code or 3rd-party components enrichment</li>
    <li>Full component class hierarchy to ease inheritance and global changes</li>
    <li>Completely A2+ compliant with no other dependencies</li>
  </ul>
  <h3>Packaging</h3>
  <ul>
    <li>Events pub/sub</li>
    <li>Public interfaces on all components</li>
    <li>Reusable in any Angular project and IDE</li>
    <li>Consumable by CodeSoju generators</li>
    <li>Embeddable to enhance lifecycle manageability and future enhancement</li>
  </ul>
  <h3>Extensive Set of Enterprise Services</h3>
  <ul>
    <li>Security</li>
    <li>Logging, debug or runtime modes</li>
    <li>Internationalization</li>
    <li>Theming</li>
    <li>Personalization and access control</li>
    <li>Data caching, paging and other server-side data access</li>
    <li>Auto-documentation library, samples, and usage interface</li>
  </ul>
  <h3>Business Components</h3>
  <ul>
    <li>A growing library of business components: News, Weather, IBM Watson, Email, Blog, BPM Task Lists…</li>
    <li>Component factory that produces private or public business components</li>
    <li>Packaged as microservices and automatically deployed on a PaaS of choice (BlueMix, AWS Lambda, etc.)</li>
    <li>Ready to be wired together by business users</li>
    <li>Ready to be used as A2+ components by developers</li>
    <li>Categorized by library</li>
  </ul>
</div>