<header>
  <div class="header-section" >
    <div class="header-headline">
      <h1 class="header">Cedrus Fusion Library</h1>
      <h2 class="header">Angular 2 Components</h2>
    </div>
    <div class="header-start">
      <a routerLink="/guide/getstarted" routerLinkActive="active">Get Started</a>
    </div>
  </div>
</header>
<div class="container">
  <h2>Intro</h2>
  <p>An Angular 2 and NativeScript framework. This product provides a rich and open component library for Web and mobile, a rich set of Enterprise and Server side services for Data access, Security and Profiling</p>
  <p>The framework also implements the concept of Business Components to promote the implementation of re-usable and sophisticated functional modules, Microservices and application wiring.</p>
  
  <h2>Code Fusion in a nutshell</h2>
  <p>Angular and Angular 2 Material Design can pose numerous challenges if not done the right way.</p>
  <p>Code Fusion is an Open Source project that can dramatically accelerate the material design by providing a comprehensive and extensible framework to define reusable Technical and Business components.</p>
  <h3>Open Source</h3>
  <ul>
    <li>Fully extensible by custom code or 3rd party components enrichment</li>
    <li>Full Component Class Hierarchy to ease inheritance and global changes</li>
    <li>Completely A2 compliant with no other dependencies</li>
  </ul>
  <h3>Packaging</h3>
  <ul>
    <li>Events pub/sub</li>
    <li>Public Interfaces on all components</li>
    <li>Reusable in any Angular project and IDE</li>
    <li>Consumable by CodeSoju generators</li>
    <li>Embeddable to enhance lifecycle manageability and future enhancement</li>
  </ul>
  <h3>Extensive set of Enterprise services</h3>
  <ul>
    <li>Security</li>
    <li>Logging, debug or runtime modes</li>
    <li>Internationalization</li>
    <li>Theming</li>
    <li>Personalization and Access control</li>
    <li>Data Caching , paging and other server side data access</li>
    <li>Auto-documentation library, Samples, and usage interface</li>
  </ul>
  <h3>Business Components</h3>
  <ul>
    <li>A growing library of Business Components: News, Weather, IBM Watson, Email, Blog, BPM tasks lists…</li>
    <li>Component Factory to be used to produce private or public Business Components</li>
    <li>Packaged as Microservices and automatically deployed on a PaaS of choice (BlueMix, AWS Lambda, etc.)</li>
    <li>Ready to be wired together by business users</li>
    <li>Ready to be used as A2 components by developers</li>
    <li>Categorized by library</li>
  </ul>
</div>